.calculator {
  width: 350px;
  height: 500px;
  border: 1px solid blue;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  height: 100vh;
  color: orange;
}
.button__row_1 {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}
button {
  font-size: 10px;
  padding: 15px 15px;

  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.number {
  background-color: darkgray;
}

.operator_org {
  background-color: orange;
}

.button__row_2 {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}
.button__row_3 {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}
.button__row_4 {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}
.button__row_5 {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}

.calculator__result {
  width: 350px;
  height: 200px;
  background-color: aqua;
}
